.feature__Call {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature__title {
  font-weight: 700;

  font-size: 14px;

  line-height: calc(16 / 14);

  letter-spacing: 0.03em;

  text-transform: uppercase;

  margin-bottom: 9px;

  color: var(--primary-text-color);
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
