.footer__address-contact {
    font-style: normal;
  
    font-family: 'Roboto';
  
    font-style: normal;
  
    font-weight: 400;
  
    font-size: 14px;
  
    line-height: calc(24 / 14);
  
    display: flex;
  }

  .footer__address-map {
    font-family: 'Roboto';
  
    font-weight: 400;
  
    font-size: 14px;
  
    line-height: calc(24 / 14);
  
    letter-spacing: 0.03em;
  
    font-style: normal;
  
    color: white;
  
    text-align: center;
  }
  
  .footer__address-mailto {
    font-family: 'Roboto';
  
    font-weight: 400;
  
    font-size: 14px;
    line-height: calc(24 / 14);
  
    letter-spacing: 0.03em;
  
    color: #ffffff;
    opacity: 0.6;
  }  
  

  .footer__address-tel {
    font-weight: 400;
  
    font-size: 14px;
  
    line-height: calc(24 / 14);
  
    letter-spacing: 0.03em;
  
    color: #ffffff;
    opacity: 0.6;
  }