.header__contact-list {
    display: flex;
    margin-left: auto;
  }



  .header__nav-item:not(:last-child)
  {
    padding-right: 57px;
  }

  .header__contact-item:not(:last-child) {
    margin-right: 50px;
  }


  .header__nav-list 
{
  display: flex;
}

  /* feature-list*/
  
.feature__list {
    display: flex;
  }

  
.feature__item {
    font-weight: 400;
  
    font-size: 14px;
  
    line-height: calc(24 / 14);
  
    letter-spacing: 0.03em;
  
    width: 270px;
  
    color: var(--secondary-text-color);
  }
  
  .feature__item:not(:last-child) {
    margin-right: 30px;
  }
  
  .feature__item-icon-wrapper {
    background-color: #f5f4fa;
  
    padding: 25px 0;
  
    border-radius: 4px;
  
    margin-bottom: 30px;
  
    display: flex;
  
    align-items: center;
  
    justify-content: center;
  }

/* what-list*/
  .what__list {
    display: flex;
  }

  .what__item
{
  position: relative;
}

.what__item:not(:first-child) {
    margin-left: 30px;
  }


/* team-list*/
  
.team__list {
    display: flex;
  }

  .team__item {
    background-color: #ffffff;
  
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  }

  .team__item:not(:first-child) {
    margin-left: 30px;
  }


  .team__socials-list {
    display: flex;
  
    justify-content: center;
  
    padding-bottom: 30px;
  }

  .team__socials-item:not(:last-child) {
    margin-right: 10px;
  }


/* customers-list*/


.customers__list 
{
  display: flex;

}



.customers__item:not(:last-child)
{
  margin-right:30px;
}

  .customers__item-icon 
{
  fill: currentColor;
  
}


/* button-list*/

.all__button-list {
  display: flex;

  justify-content: center;

  margin-bottom: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.all__item:not(:first-child) {
  margin-left: 8px;
}

/*project-list*/
.project__list {
  display: flex;

  flex-wrap: wrap;

  margin-top: calc(-1 * 30px);

  margin-left: calc(-1 * 30px);
}

.project__item {
  margin-top: 30px;

  margin-left: 30px;

  flex-basis: calc(100% / 3 - 30px);

 
border-radius: 0px 0px 4px 4px;


position: relative;

overflow: hidden;



}
.project__item:hover,
.project__item:focus

{
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px
   rgba(0, 0, 0, 0.12);
}

.project__item:hover .overlay-text,
.project__item:focus .overlay-text
{
  transform: translateY(0%);
}

/* footer-list*/


.footer__address-item {
    margin-top: 2px;
  }


  .footer__social-item:not(:last-child)
{
  margin-right: 10px;
}


.footer__social-list 
{
  display: flex;
}



.footer__social-link-icon {
    fill:#ffffff;
   
  }

