.header__logo 
{
  font-family: 'Raleway';

  font-style: normal;

  font-weight: 700;

  font-size: 26px;

  margin-right: 97px;

  line-height: calc(31 / 26);

  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.footer__logo {
  font-family: 'Raleway';

  font-style: normal;

  font-weight: 700;

  font-size: 26px;

  line-height: calc(31 / 26);

  letter-spacing: 0.03em;

  color: var(--accent-color);

  margin-bottom: 5px;
  display: block;
}